* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100vh;
}

/* NAVBAR PRINCIPAL */
header {
    position: fixed;
    background-color: #132835;
    padding: 20px;
    width: 100%;
    height: 30px;
}

.logo h3 {
    color: #FFF;    
    text-transform: uppercase;
    font-size: 25px;
}

.logo span {
    color: #51B3EC;
}

.btn-sair {
    float: right;
    text-decoration: none;
    margin-top: -25px;
    margin-right: 50px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
    
}

.btn-sair:hover {
    color: #4a9fcf;
}

/* NAVEGAÇÃO LATERAL */
.sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: #193446;
}

.sidebar .image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.sidebar h2 {
    color: #CCC;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #FFF;
    display: block;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    transition: 0.5s;
}

.sidebar a:hover {
    background-color: #51B3EC;
}

/* ÁREA DO CONTEÚDO */
main {
    padding-top: 80px;
    padding-left: 230px;
    min-height: 100vh;
    background-color: #CCC;
}
/* FORMULÁRIO */
#contact-form {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    
}

/* NAVEGAÇÃO DO FORMULÁRIO */
#contact-form nav {
    padding-bottom: 10px;
    background-color: #CCC;
} 
    
/* CONTEÚDO DO FORMULÁRIO */
#form-main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 4px;
    background-color: #DDD;
}

.form-item-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-item-right {
    width: 40%;
}

 
#form-main textarea {
    padding: 10px;
    border: 1px solid #132835;
    border-radius: 4px;
    height: 150px;
    width: 70%;
}

#form-main input {
    padding: 10px;
    border: 1px solid #132835;
    border-radius: 4px;
    width: 90%;
    margin-left: auto;
}

/*form div input, form textarea {
    outline: unset;
    padding: 7px;
    width: 400px;
    border: 1px solid #132835;
    border-radius: 4px;
}*/
/*RODAPÉ*/
footer {
    padding: 30px 0px 30px 230px;
    background-color: #132835;
    text-align: center;
    color: #FFF;
}
